.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .signup-form input,
  .signup-form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    margin-right :10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .signup-form button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #0056b3;
  }
  